.inputFieldContainer {
  /* background-color: antiquewhite; */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
}
.inputField {
  background-color: rgba(243, 206, 159, 0.74);
  border: none;
  box-shadow: 0.5px 0.5px;
  border-radius: 25px;
  width: 20vw;
  min-width: 133px;
  height: 4vh;
  min-height: 26px;
  text-align: center;
  font-size: 20px;
  font-family: cursive;
}
.inputField:hover {
  border: 1px solid rgb(131, 82, 22);
  box-shadow: 1px 1px;
  height: 4.5vh;
}

.inputField:focus {
  border: 1px solid rgb(131, 82, 22);
  outline: none;
  padding: 5%;
}

.inputFieldContainer Button {
  background-color: transparent;
  border-radius: 50%;
  /* color: rgb(131, 82, 22); */
  color: blanchedalmond;
  border: none;
  font-size: 16px;
}

.inputFieldContainer Button:hover {
  cursor: pointer;
  font-size: 22px;
}
