.inputFieldContainer {
  /* background-color: antiquewhite; */
  padding-right: 10px;
  width: 23vw;
  min-width: 13vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.inputField {
  background-color: rgba(250, 235, 215, 0.514);
  border: none;
  box-shadow: 0.5px 0.5px;
  border-radius: 25px;
  width: 18vw;
  height: 5vh;
  text-align: center;
  font-size: 20px;
  font-family: cursive;
}
.inputField:hover {
  border: 1px solid rgb(131, 82, 22);
  box-shadow: 1px 1px;
  height: 8vh;
}

.inputField:focus {
  border: 1px solid rgb(131, 82, 22);
  outline: none;
  padding: 9%;
}

.inputFieldContainer Button {
  background-color: transparent;
  border-radius: 50%;
  color: rgb(131, 82, 22);
  border: none;
  font-size: 16px;
}

.inputFieldContainer Button:hover {
  cursor: pointer;
  box-shadow: 1px 1px;
  padding: 3%;
}
